<div class="wrapper" id="categories">
  <h1 class="page-title">Κατηγορίες</h1>
  <div class="categories-wrapper">
    <div
      *ngFor="let category of categories; index as i; first as isFirst"
      class="category-wrapper custom-transition bg-[url(/assets/jewel_placeholder.jpg)]"
    >
      <!--      <img-->
      <!--        ngSrc="assets/jewel_placeholder.jpg"-->
      <!--        class="category-image"-->
      <!--        alt="image"-->
      <!--        height="500"-->
      <!--        width="250"-->
      <!--      />-->
      <div class="category-text-wrapper">
        <p class="category-name">{{ category.name }}</p>
        <p class="category-subtext">15 προϊόντα</p>
      </div>
    </div>
  </div>
</div>

<!--TODO: Change Ημιπολυτιμες to subcategory of id 2, and κρυσταλάκια to Κρύσταλλοι Τσεχίας-->
<!--TODO: Add subcategories to Εποχιακά -->
<!--TODO: Add subcategories to plexiglas: Μπρελόκ -->
