@tailwind components;

@layer components {
  .empty-cart-wrapper {
    @apply w-full h-full flex flex-col items-center justify-center
  }

  .wrapper {
    @apply w-full h-full p-7
  }

  .title {
    @apply text-3xl font-bold
  }

  .products-wrapper {
    @apply w-full h-full mt-5
  }

  .product-wrapper {
    @apply flex gap-3
  }

  .product-text-section {
    @apply flex flex-col justify-between pb-2
  }

  .product-title {
    @apply text-lg font-semibold
  }

  .product-code {
    @apply text-sm
  }

  .product-price {
    @apply text-lg font-semibold
  }
}
