@tailwind components;

@layer components {
  .wrapper {
    @apply w-full flex items-center justify-between fixed top-0 z-10
    bg-purple-50
    py-5
    px-40
    shadow-xl
    max-xl:px-7
    max-lg:py-10
    bg-opacity-90
  }

  .header {
    @apply text-2xl text-purple-700 font-montserrat font-semibold
  }

  .desktop-routes {
    @apply max-md:hidden flex justify-center gap-x-5 w-[200px]
  }

  .p-drawer-body-container {
    @apply relative w-full h-full overflow-hidden
  }

  .p-drawer-body {
    @apply flex flex-col h-full items-center justify-center
  }

  .menu-fade-in {
    animation: fadeIn 0.4s ease-in-out;
  }

  .shopping-cart-icon {
    @apply text-black cursor-pointer transition-all duration-100 hover:scale-110
  }
}
