<div class="wrapper">
  <p-button (click)="changeSidebarVisibleState()" text class="md:hidden">
    <i class="pi pi-bars text-black" style="font-size: 25px"></i>
  </p-button>
  <div>
    <a href="/">
      <p-image src="assets/logo_no_bg.png" alt="Image" width="200" />
    </a>
  </div>
  <div class="desktop-routes">
    <p-button
      label="Αρχική"
      variant="text"
      class="global-button"
      severity="contrast"
      (onClick)="navigateToHome()"
    />
    <div *ngIf="categoryItems.length" class="justify-center">
      <p-button
        id="productsButton"
        label="Προϊόντα"
        variant="text"
        class="global-button text-button"
        (onClick)="menu.toggle($event)"
        icon="pi pi-angle-down"
        iconPos="right"
        severity="contrast"
      />
      <p-tieredMenu
        #menu
        [appendTo]="test"
        [model]="categoryItems"
        popup
        class="font-montserrat top-12"
        [autoDisplay]="true"
        [autoZIndex]="true"
      />
      <div #test></div>
    </div>
    <p-button
      label="Επικοινωνία"
      variant="text"
      class="global-button"
      severity="contrast"
    />
  </div>
  <div class="lg:w-[200px]">
    <i
      *ngIf="totalCartProducts > 0"
      class="pi pi-shopping-bag text-black cursor-pointer transition-all duration-100 hover:scale-110"
      style="font-size: 25px"
      pBadge
      [value]="totalCartProducts"
      (click)="showCart()"
    ></i>
    <i
      *ngIf="totalCartProducts === 0"
      class="pi pi-shopping-bag text-black cursor-pointer transition-all duration-100 hover:scale-110"
      style="font-size: 25px"
      (click)="showCart()"
    ></i>
  </div>
</div>
<p-drawer [(visible)]="isSidebarVisible" position="full">
  <div class="flex flex-col h-full items-center justify-center">
    <p-button label="Αρχική" text size="large" (click)="navigateToHome()" />
    <p-button label="Προϊόντα" variant="text" size="large" />
    <p-button label="Επικοινωνία" variant="text" size="large" />
  </div>
</p-drawer>
<p-drawer
  [(visible)]="isShoppingCartVisible"
  position="right"
  styleClass="!w-full md:!w-[40rem]"
>
  <ng-template #headless>
    <app-shopping-cart
      (isShoppingCartVisibleEmitter)="isShoppingCartVisible = $event"
      class="h-full"
    />
  </ng-template>
</p-drawer>
