<div #wrapper class="wrapper">
  <p-button (click)="changeSidebarVisibleState()" text class="md:hidden">
    <i class="pi pi-bars text-black" style="font-size: 25px"></i>
  </p-button>
  <div>
    <a href="/">
      <p-image src="assets/logo_no_bg.png" alt="Image" width="200" />
    </a>
  </div>
  <div class="desktop-routes" #desktopRoutes>
    <p-button
      label="Αρχική"
      variant="text"
      class="global-button"
      severity="contrast"
      (onClick)="navigateToHome()"
    />
    <div class="justify-center">
      <p-button
        [loading]="!categoryItems.length"
        id="productsButton"
        label="Προϊόντα"
        variant="text"
        class="global-button text-button"
        (onClick)="menu.toggle($event)"
        icon="pi pi-angle-down"
        iconPos="right"
        severity="contrast"
      />
      <p-menu
        #menu
        appendTo="self"
        [model]="categoryItems"
        popup
        class="font-montserrat top-12"
        [autoZIndex]="true"
      />
    </div>
    <p-button
      label="Επικοινωνία"
      variant="text"
      class="global-button"
      severity="contrast"
    />
  </div>
  <div class="lg:w-[200px]">
    <i
      *ngIf="totalCartProducts > 0"
      class="pi pi-shopping-bag shopping-cart-icon"
      style="font-size: 25px"
      pBadge
      [value]="totalCartProducts"
      (click)="showCart()"
    ></i>
    <i
      *ngIf="totalCartProducts === 0"
      class="pi pi-shopping-bag shopping-cart-icon"
      style="font-size: 25px"
      (click)="showCart()"
    ></i>
  </div>
</div>
<p-drawer
  [visible]="isSidebarVisible"
  position="left"
  [closable]="false"
  styleClass="!w-full"
>
  <ng-template pTemplate="header">
    <div>
      <p-button
        *ngIf="!isProductsMenuExpanded"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        icon="pi pi-times"
        (click)="isSidebarVisible = false"
      />
      <p-button
        *ngIf="isProductsMenuExpanded"
        [rounded]="true"
        [text]="true"
        severity="secondary"
        icon="pi pi-arrow-left"
        (click)="isProductsMenuExpanded = false"
      />
    </div>
  </ng-template>
  <div class="p-drawer-body-container">
    <div
      *ngIf="!isProductsMenuExpanded"
      class="p-drawer-body menu-fade-in"
      [@fadeInOut]
    >
      <p-button label="Αρχική" text size="large" (click)="navigateToHome()" />
      <p-button
        label="Προϊόντα"
        variant="text"
        size="large"
        (click)="toggleProductsMenu()"
        [icon]="'pi pi-angle-right'"
        iconPos="right"
      />
      <p-button label="Επικοινωνία" variant="text" size="large" />
    </div>
    <div
      *ngIf="isProductsMenuExpanded"
      class="p-drawer-body menu-fade-in"
      [@fadeInOut]
    >
      <p-button
        *ngFor="let item of categoryItems"
        [label]="item.label"
        text
        size="large"
        (click)="item.command && navigateToCategory(item.command)"
      />
    </div>
  </div>
</p-drawer>
<p-drawer
  [(visible)]="isShoppingCartVisible"
  position="right"
  styleClass="!w-full md:!w-[40rem] !h-full"
>
  <ng-template #headless>
    <app-shopping-cart
      (isShoppingCartVisibleEmitter)="isShoppingCartVisible = $event"
      class="h-full"
    />
  </ng-template>
</p-drawer>
