<div class="wrapper">
  <p-button (click)="changeSidebarVisibleState()" text class="md:hidden">
    <i class="pi pi-bars text-black" style="font-size: 25px"></i>
  </p-button>
  <div>
    <a href="/">
      <p-image src="assets/logo_no_bg.png" alt="Image" width="200" />
    </a>
  </div>
  <div class="max-md:hidden flex w-[500px] justify-center gap-x-5">
    <p-button
      label="Αρχική"
      variant="text"
      class="global-button"
      severity="contrast"
    />
    <div *ngIf="categories.length" class="justify-center">
      <p-button
        id="productsButton"
        #productsButton
        label="Προϊόντα"
        variant="text"
        class="global-button text-button"
        (onClick)="menu.toggle($event)"
        icon="pi pi-angle-down"
        iconPos="right"
        severity="contrast"
      />
      <p-tieredMenu
        #menu
        appendTo="body"
        [model]="items"
        popup
        class="font-montserrat top-12"
        [autoDisplay]="true"
        [autoZIndex]="true"
      />
    </div>
    <p-button
      label="Επικοινωνία"
      variant="text"
      class="global-button"
      severity="contrast"
    />
  </div>
  <p-button text class="w-[200px] justify-center flex global-button">
    <i class="pi pi-shopping-bag text-black" style="font-size: 25px"></i>
  </p-button>
</div>
<p-drawer [(visible)]="isSidebarVisible" position="full">
  <div class="flex flex-col h-full items-center justify-center">
    <p-button label="Προϊόντα" variant="text" size="large" />
    <p-button label="Επικοινωνία" variant="text" size="large" />
  </div>
</p-drawer>
