@tailwind components;

@layer components {
  .wrapper {
    @apply w-full flex items-center justify-between sticky top-0 z-10
    bg-purple-50
    py-5
    px-40
    shadow-xl
    max-xl:px-7
    max-lg:py-10
  }

  .header {
    @apply text-2xl text-purple-700 font-montserrat font-semibold
  }

  .desktop-routes {
    @apply max-md:hidden flex justify-center gap-x-5 w-[200px]
  }
}
