@tailwind components;

@layer components {
  .wrapper {
    @apply w-full h-full flex flex-col items-center p-10
  }

  .title {
    @apply text-3xl font-montserrat text-purple-700 font-semibold
  }

  .indexDivWrapper {
    @apply w-full py-10 px-20 flex justify-between items-center
  }

  .products-container {
    @apply flex flex-wrap gap-10 justify-center w-full h-full items-center
  }
}
