<div *ngIf="category && products.length" class="wrapper">
  <h1 class="title">{{ category.name.toUpperCase() }}</h1>
  <div class="indexDivWrapper">
    <p class="font-light font-montserrat text-sm">
      Βλέπετε
      <span class="font-semibold"
        >{{ firstProductIndex }}-{{ lastProductIndex }}</span
      >
      από <span class="font-semibold">{{ totalProductsCount }}</span> προϊόντα
      στην κατηγορία
    </p>
    <p-select
      [options]="sortOptions"
      optionLabel="name"
      placeholder="Ταξινόμιση"
      variant="outlined"
    />
  </div>
  <div class="products-container">
    <ng-template ngFor let-product [ngForOf]="products">
      <app-product-card [product]="product" />
    </ng-template>
  </div>
</div>
