<div *ngIf="product" class="page">
  <div class="product">
    <div class="image-wrapper">
      <div
        @fadeInFadeOut
        *ngIf="!product.extraImageUrls"
        class="gallery-image-wrapper"
      >
        <img
          class="object-cover"
          [ngSrc]="mainImageSrc"
          fill
          priority
          alt="Image"
        />
      </div>
      <p-galleria
        showTransitionOptions="500ms cubic-bezier(0, 0, 0.5, 1)"
        hideTransitionOptions="500ms cubic-bezier(0, 0, 0.5, 1)"
        [value]="images"
        [numVisible]="3"
        [showThumbnails]="true"
        [showThumbnailNavigators]="false"
      >
        <ng-template #item let-item>
          <div class="gallery-image-wrapper">
            <img
              @fadeInFadeOut
              class="object-cover"
              [ngSrc]="item"
              fill
              priority
              text="image"
              alt="image"
            />
          </div>
        </ng-template>
        <ng-template #thumbnail let-item>
          <div class="relative w-[100px] h-[100px] overflow-hidden">
            <img
              [ngSrc]="item"
              fill
              text="image"
              alt="image"
              class="object-cover"
            />
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="product-details">
      <h1 class="product-title">{{ product.name }}</h1>
      <p class="product-code">
        Κωδικός προϊόντος: <span class="font-bold">{{ product.code }}</span>
      </p>
      <p *ngIf="product.description" class="product-description">
        {{ product.description }}
      </p>
      <div *ngIf="product.colours && product.colours.length" class="mt-2">
        <p-select
          styleClass="mt-1"
          placeholder="Χρώμα"
          [options]="product.colours"
          optionLabel="name"
          optionValue="name"
          (onChange)="colourSelected($event)"
        >
          <ng-template #item let-colour>
            <div class="flex gap-2 items-center">
              <div
                class="h-[20px] w-[20px] rounded-sm"
                [style]="{ background: colour.hexCode }"
              ></div>
              <p>{{ colour.name }}</p>
            </div>
          </ng-template>
        </p-select>
      </div>
      <p *ngIf="errorCode" class="error-text">{{ errorCode }}</p>
      <div class="product-footer">
        <p class="price">{{ convertPriceToFloat(product.price) }} &#8364;</p>
        <div class="wishlist-action">
          <i class="pi pi-heart"></i>
          <p class="wishlist-text">Προσθήκη στην λίστα επιθυμιών</p>
        </div>
        <p-button
          [label]="
            !isProductInCart
              ? 'Προσθήκη στο καλάθι'
              : 'Το προϊόν βρίσκετε ήδη στο καλάθι'
          "
          [disabled]="isProductInCart"
          (click)="addProductToCart()"
          [loading]="isLoading"
        />
      </div>
    </div>
  </div>
</div>
