@tailwind components;

@layer components {
  .page {
    @apply flex flex-col items-center font-manrope
    lg:p-10 p-4
  }

  .product {
    @apply flex 2xl:w-3/5 xl:w-4/5 w-full max-md:flex-col min-h-[450px] max-md:items-center
    m-2.5 md:mt-10 md:justify-center md:gap-10 gap-4
  }

  .image-wrapper {
    @apply md:w-[45%] 3xl:w-[35%] h-full relative w-full transition-all duration-500
  }

  .gallery-image-wrapper {
    @apply h-[300px] sm:h-[600px] md:h-[400px] w-full object-cover
  }

  .product-details {
    @apply flex flex-col md:w-[45%] relative md:min-h-[450px] w-full
  }

  .product-title {
    @apply text-4xl font-bold tracking-wide
  }

  .product-code {
    @apply text-sm mt-2.5 md:mt-4 font-medium
  }

  .dimensions {
    @apply text-sm
  }

  .product-description {
    @apply lg:mt-8 mt-3 md:text-2xl text-xl
  }

  .product-footer {
    @apply md:absolute max-md:mt-5 bottom-1 flex flex-col
    gap-2.5
  }

  .price {
    @apply mb-5 text-2xl font-semibold
  }

  .wishlist-action {
    @apply flex items-center hover:cursor-pointer
  }

  .wishlist-text {
    @apply text-sm underline ml-2
  }
}
