@tailwind components;

@layer components {
  .wrapper {
    @apply h-[300px] w-[300px]
    relative
    rounded overflow-hidden bg-cover
    hover:scale-105 hover:cursor-pointer
    3xl:h-[400px] 3xl:w-[400px]
  }

  .image {
    @apply z-0 object-fill h-full w-full
  }

  .text-wrapper {
    @apply absolute bottom-0 w-full h-[20%]
    flex justify-between items-center
    bg-purple-500 bg-opacity-50
    px-2.5
    max-lg:items-center
  }

  //.text-wrapper {
  //  @apply absolute bottom-0 w-full h-[25%]
  //  flex flex-col justify-center items-center
  //  bg-purple-500 bg-opacity-50
  //  px-2.5
  //  max-lg:items-center
  //}

  .name-text {
    @apply text-white text-lg font-semibold max-lg:text-xl
  }

  .price-text {
    @apply text-white font-medium max-lg:text-lg
  }
}
