@tailwind components;

@layer components {
  .wrapper {
    @apply h-full justify-items-center p-10 w-full
    max-md:p-5
  }

  .title-text {
    @apply text-3xl font-semibold
    max-md:text-xl
  }

  .login-box {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2
    md:border-2 p-5 md:rounded-md md:shadow-lg w-[500px] max-md:w-full
  }

  .login-text {
    @apply text-gray-600 font-medium text-2xl
  }

  .login-subtitle {
    @apply text-gray-400 text-sm
  }

  .inputs-wrapper {
    @apply flex flex-col mt-10 gap-4 w-full
  }

  .button-wrapper {
    @apply flex w-full justify-center md:justify-end mt-7
  }
}
