@tailwind components;

@layer components {
  .spinner-overlay {
    @apply inset-0 flex items-center justify-center bg-white bg-opacity-60 z-10 h-full;
  }
  .spinner {
    @apply w-8 h-8 border-4 border-purple-500 border-t-transparent rounded-full animate-spin;
  }
}
