@tailwind components;

@layer components {
  .wrapper {
    @apply w-full grid md:grid-cols-2 xl:grid-cols-3
    items-center justify-center
    gap-10 pb-10
  }

  .category-card {
    @apply flex flex-col cursor-pointer items-center
  }

  .category-image-wrapper {
    @apply w-[300px] h-[250px] flex
  }

  .category-image {
    @apply object-cover h-full w-full
  }

  .category-text {
    @apply w-full text-center font-manrope mt-2
  }
}
