@tailwind components;

@layer components {
  .wrapper {
    @apply w-full 2xl:w-[70%] grid md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4
    items-center justify-center pb-10
  }

  .category-card {
    @apply flex flex-col items-center
  }

  .category-image-wrapper {
    @apply relative w-[300px] h-[250px] flex cursor-pointer
  }

  .category-image {
    @apply object-cover h-full w-full
  }

  .category-text {
    @apply w-full text-center font-manrope mt-2 cursor-pointer
  }
}
