<div class="page-wrapper">
  <div class="box-wrapper">
    <div class="image-wrapper">
      <img ngSrc="assets/truck-icon.png" fill alt="delivery truck" />
    </div>
    <div class="">
      <p class="info-title">Δωρεάν μεταφορικά</p>
      <ul class="list">
        <li class="info-details">Για αγορές άνω των 30€</li>
        <li class="info-details">Αποστολή με box now</li>
      </ul>
    </div>
  </div>
  <div class="divider"></div>
  <div class="box-wrapper">
    <div class="image-wrapper">
      <img ngSrc="assets/lock-icon.png" fill alt="lock" />
    </div>
    <div>
      <p class="info-title">Ασφαλές πληρωμές</p>
      <ul class="list">
        <li class="info-details">Με τραπεζική κατάθεση σε λογαριασμό</li>
        <li class="info-details">Με πιστωτική/χρεωστική κάρτα</li>
        <li class="info-details">Με τραπεζική κατάθεση IRIS</li>
      </ul>
    </div>
  </div>
</div>
