<p-dialog
  [(visible)]="isVisible"
  header="Καταχώριση Κατηγορίας"
  (onHide)="onDialogHide()"
  [modal]="true"
>
  <div class="w-[400px]">
    <app-text-input label="Όνομα Κατηγορίας" [control]="categoryFormControl" />
    <div class="w-full flex justify-end mt-5">
      <p-button
        [label]="isLoading ? '' : 'Καταχώριση'"
        severity="success"
        [disabled]="categoryFormControl.invalid"
        (click)="createCategoryEmitter.emit()"
        [loading]="isLoading"
      />
    </div>
  </div>
</p-dialog>
