<div class="wrapper">
  <p class="copyright-text">
    Copyright <span class="text-gray-300">&copy;</span> 2025 Cathy's Way
  </p>
  <div class="icons-container">
    <a
      target="_blank"
      href="https://www.facebook.com/people/Cathys-way/100086744843824/#"
    >
      <i class="pi pi-facebook icon" style="font-size: 25px"></i>
    </a>
    <a target="_blank" href="https://www.instagram.com/cathy_s_way/">
      <i class="pi pi-instagram icon" style="font-size: 25px"></i>
    </a>
    <a target="_blank" href="https://www.tiktok.com/@cathys.way0">
      <i class="pi pi-tiktok icon" style="font-size: 25px"></i>
    </a>
  </div>
  <p class="icons8-attribute">
    Icons by
    <a
      class="underline cursor-pointer"
      href="https://icons8.com"
      target="_blank"
      rel="noopener noreferrer"
      >icons8</a
    >
  </p>
</div>
