/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700family=Lora:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');
