/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Lora:wght@300;400;500;600;700&family=Manrope:wght@200..800');

html {
  scroll-behavior: smooth;
  font-family: "Manrope", sans-serif;

}

body {
  box-sizing: border-box;
}

app-root {
  display: block;
}

:host ::ng-deep .p-carousel-indicator-active {
  background: black!important;
  color: black!important;
}

.p-galleria {
  border-width: 0!important;
  border-radius: 0!important;
}

.p-button {
  font-family: "Manrope", sans-serif !important;
}

@layer utilities {
  .custom-transition {
    @apply transition-all duration-300 ease-in-out
  }

  .global-button {
    @apply custom-transition font-manrope
  }

  .custom-menu-ite {
    @apply font-montserrat
  }

  .input-label {
    @apply font-medium text-gray-500 sm:text-lg
  }

  .error-text {
    @apply text-sm text-red-600 mt-2
  }

  .products-container {
    @apply w-full h-3/4 grid justify-items-center grid-cols-1 gap-y-20 gap-x-2 mb-10 transition-all duration-300 ease-in-out
    xl:w-[90%] 2xl:w-[80%]
    lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1
  }
}
