@tailwind components;

@layer components {
  .wrapper {
    @apply w-full h-full flex flex-col items-center p-10
  }

  .title {
    @apply text-4xl font-montserrat
  }

  .indexDivWrapper {
    @apply w-full p-5
  }

  .products-container {
    @apply flex flex-wrap gap-10 justify-center w-full h-full items-center
  }
}
