<div class="wrapper">
  <div class="text-box">
    <div class="flex flex-col items-center">
      <!--      <i class="pi pi-heart text-purple-800" style="font-size: 40px"></i>-->
      <p class="text-box-title text-purple-600">Cathy's way</p>
    </div>
    <p class="text-box-description">
      Καλώς ήρθες στην <span class="styled-text">Cathy's way</span>. Εδώ θα
      βρείς κοσμήματα χειροποίητα, και όχι μόνο, που ξεχωρίζουν για την
      κομψότητα και την διαχρονικότητα τους. Κοσμήματα γεμάτα χρώματα και λάμψη.
      Άφησέ μας να γεμίσουμε, ακόμα και τις πιο μικρές λεπτομέρειες της
      εμφάνισης σου με έναν τρόπο μοναδικό, κομψό, άνετο όπως σου αξίζει
      πραγματικά. Με τον <span class="styled-text">τρόπο της Cathy</span>.
    </p>
  </div>
  <img
    ngSrc="../../../../../assets/mobile_placeholder.jpg"
    class="mobile-image"
    alt="image"
    height="7008"
    width="4672"
  />
</div>
